<%- include ("./header.ejs") %>

<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">BlogCRUD</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categories</a>
    </li>
  </ul>
</nav>

<%- include ("./footer.ejs") %>
